<h2>Admin only Degree list</h2>
<div>
    <ul class="degrees">
        <li *ngFor="let degree of degrees" 
        [class.selected]="degree === selectedDegree"
        (click)="viewDegreeDetails(degree)">
            
            <span class="badge">{{degree.id}}</span>{{degree.degreeName}}
            
        </li>
    </ul>

</div>

<app-details [degree]="selectedDegree"></app-details>
