<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Student Dashboard</span>
</nav>

<div class="box">
    <app-student-detail [student]="student"></app-student-detail>
</div>
        