<div>
        <h3>Required Courses</h3>
        <ul class="courses">
            <li *ngFor="let course of requiredCourses">
                    
                <span class="badge">{{course}}</span>
                    
            </li>        
        </ul>
    
    </div>