<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Orange And Bronze Portal</span>
</nav>
<div class="box">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" ngModel>
            <small class="form-text text-muted">Enter your portal username</small>
            </div>
            <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" placeholder="Password" ngModel>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
    </form>
</div>

<app-error [state]="authErrorState" [message]="authErrorMessage"></app-error>

