<h2>Admin only student list</h2>
<div>
    <ul class="student">
        <li *ngFor="let student of students" 
        [class.selected]="student === selectedStudent"
        (click)="viewStudentDetails(student)">
            
            <span class="badge">{{student.id}}</span>{{student.name}}
            
        </li>
        
        
    </ul>

</div>

<app-details [student]="selectedStudent"></app-details>
