<div>
    <h1>List of Students</h1>

    <div>
        <form #enlistForm="ngForm" 
            (ngSubmit)="addStudent(enlistForm)">
            <span>
                <label>Add Student</label>
                <input name="studentId" placeholder="student Id" ngModel>
            </span>
            <span>
                <input type="submit" value="Add Student">
            </span>

            <app-error [state]="error" [message]="errorMessage"></app-error>

        </form>
    </div>

    <ul class="student">
            <li *ngFor="let student of students">
                
                <span class="badge">{{student.id}}</span>{{student.name}}
                <button style="float:right" (click)=remove(student.id)>kick</button>
            </li>
           
            
    </ul>

</div>