<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" />

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>


  
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Admin Dashboard</span>
</nav>

<div class="box">
    <button class="btn btn-primary" (click)="viewStudents()" >View Students</button>
    <button class="btn btn-primary" (click)="viewSections()" >View Sections</button> 
    <button class="btn btn-primary" (click)="viewDegrees()" >View Degrees</button>
</div>
<div class="box">
    <span *ngIf="adminToggleStudView">
        <app-admin-stud-list ></app-admin-stud-list>
    </span>

    <span *ngIf="adminToggleSectView">
        <app-admin-sec-list></app-admin-sec-list>
    </span>

    <span *ngIf="adminToggleDegView">
        <app-admin-degree-list></app-admin-degree-list>
    </span>
    <app-details></app-details>
</div>