<h2>Admin Only Section List</h2>
<span>
    <ul class="sections">
        <li *ngFor="let section of sections" (click)="viewDetails(section)"
        [class.selected]="section === selectedSection">
            
            <span class="badge">{{section.id}}</span>{{section.sectionName}}
            
        </li>     
    </ul>

</span>

<app-details [section]="selectedSection"></app-details>

