<div *ngIf="student">
    <p>{{student.name}} Profile</p>
    <div><span>id: </span>{{student.id}}</div>
    <div>
        <label>Email: {{student.emailAddress}}</label>
        <br>
        <label>Contact Number: {{student.contactNumber}}</label>
        <br>
        <label>Degree: {{student.degree}}</label>
    </div>

</div>

<div *ngIf="section">
    <p>{{section.sectionName}} Details</p>
    <div><span>id: </span>{{section.id}}</div>
    <div>
        <label>Section: {{section.sectionName}}</label>
        <br>
        <label>Slots: {{section.capacity}}</label>
        
    </div>

  
    <app-admin-sec-stud-list [section]="section" [students]="section.students"></app-admin-sec-stud-list>
    

</div>

<div *ngIf="degree">
    <p>{{degree.degreeName}} Details</p>
    <div><span>id: </span>{{degree.id}}</div>
    
    <app-admin-deg-req-courses-list [requiredCourses]="degree.requiredCourses"></app-admin-deg-req-courses-list>
    <app-admin-deg-stud-list [degreeId]="degree.id" [students]="degree.studentsInDegree"></app-admin-deg-stud-list>

</div>
