<!--.subscribe() is asynchronous, if condition to make sure student is not null before component renders.-->
<div *ngIf="student">    
    <h2>{{student.name}}</h2>
    <div>
        <label>Degree: </label>
        {{student.degree}}
        <br>
        <label>Student Id: </label>
        {{student.id}}
        <br>

        <div *ngIf="!updateFormActive">
                <label>Email Address:</label>
                {{student.emailAddress}}

                <br>
                <label>Contact Number:</label>
                {{student.contactNumber}}

                <div>
                    <button (click)="toggleUpdateForm()">Make Changes</button>
                </div>
        </div>

        <div *ngIf="updateFormActive">
            <form #studentDetailForm="ngForm" (ngSubmit)="submit(studentDetailForm)">

                <label>Email Address:</label>
                <input #box name="emailAddress" value="{{student.emailAddress}}" 
                placeholder="Email Address" ngModel>

                <br>
                <label>Contact Number:</label>
                <input #box name="contactNumber" value="{{student.contactNumber}}" 
                placeholder="Contact Number" ngModel>

                <div>
                    <button type="submit">Update</button> <button (click)="toggleUpdateForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>