<div>
    <h1>Create Student Profile</h1>
    <form #regForm="ngForm" (ngSubmit)="register(regForm)">
            <div>
                <label>Name</label>
                <input name="name" ngModel>
            </div>
    
            <div>
                <label>Username</label>
                <input name="username" ngModel>
            </div>

            <div>
                <label>Password</label>
                <input name="password" type="password" ngModel>
            </div>

            <div>
                <label>Contact Number</label>
                <input name="contactNumber" ngModel>
            </div>

            <div>
                <label>Email Address</label>
                <input name="emailAddress" ngModel>
            </div>
    
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
</div>
